<template name="officalList">
    {{> officalForm}}
    <div class="officals">
        {{> tabular table=TabularTables.Offical class="table table-striped table-bordered table-condensed"}}
    </div>
</template>

<template name="officalForm">
    {{> autoformModals collection="Officals" id="officalForm"}}
</template>

<template name="officalTableUpdateButtonCell">
    <div class="text-center">
        {{#afModal class="btn btn-primary" collection="Offical" operation="update" title="Update Offical" buttonContent="Update" doc=_id omitFields="fullName,clubId,createdOn,createdBy,modifiedOn,modifiedBy"}}
            Update
        {{/afModal}}
    </div>
</template>

<template name="officalTableDeleteButtonCell">
    <div class="text-center">
        {{#afModal class="btn btn-primary" collection="Offical" operation="remove" title="Delete Offical" buttonContent="Delete" doc=_id}}
            Delete
        {{/afModal}}
    </div>
</template>