<template name="header">
    <header class="main-header">
        <a href="{{pathFor 'home'}}" class="logo"><b>Club2Run</b></a>
        <nav class="navbar navbar-static-top" role="navigation">
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    {{#if currentUser}}
                        {{#if currentClub}}
                            {{> messageDropdown}}
                            {{> notificationDropdown}}
                        {{/if}}
                        <li class="profile-picture">
                            <img class="online" src="{{profileThumbnailSrc currentUser._id}}">
                        </li>
                    {{/if}}
                    {{> loginButtons}}
                </ul>
            </div>
        </nav>
    </header>
</template>

<template name="_loginButtonsAdditionalLoggedInDropdownActions">
    <button class="btn btn-default btn-block" id="login-buttons-edit-profile">Edit profile</button>
</template>

<template name="messageDropdown">
    <li class="dropdown messages-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-comments-o"></i>
            {{#if messageCount}}
                <span class="label label-success">{{messageCount}}</span>
            {{else}}
                <span class="label label-success"></span>
            {{/if}}
        </a>
        <ul class="dropdown-menu">
            <li class="header">You have {{messageCount}} messages</li>
            <li>
                <ul class="menu">
                    {{#each messageBoards}}
                        <li>
                            <a href="#">
                                <small>{{team.name}} V {{fixture.opponent}}</small>
                                <div class="pull-right">
                                    <span class="label label-success">
                                        {{#if messages.length}}
                                            <span class="label label-success">{{messages.length}}</span>
                                        {{else}}
                                            <span class="label label-success">0</span>
                                        {{/if}}
                                    </span>
                                </div>
                            </a>
                        </li>
                    {{/each}}
                </ul>
            </li>
            <li class="footer">
                <a href="{{pathFor 'home'}}">See All Messages</a>
            </li>
        </ul>
    </li>
</template>