<template name="landingPage">
    <div class="row text-center">
        <img src="/jump-C2R.gif" />
    </div>
    <div class="container">
        {{> carousel}}
        <div class="row">
            <div class="col-md-3">
                <h3>Administrators</h3>
                <p>Most amateur club admin roles have to rely on inadequate tools for the job. Whether it be spreadsheets, an Access database, files full of paper or email heavy processes. Club2Run is engineered to streamline all the common club admin tasks, secure your data in the cloud and to make your lives easier as a result. </p>
            </div>
            <div class="col-md-3">
                <h3>Event Organisers</h3>
                <p>The ultimate goal of any Club is to offer events to its members in order for them to perform and improve in the field of interest in which the club specialises. Whether it be a sporting, social or even educational pursuit, organising these events has become a whole lot easier with Club2Run. </p>
            </div>
            <div class="col-md-3">
                <h3>Members</h3>
                <p>Members need regular communication from all the clubs they choose to join. From timely news of events and announcements, to online chat with fellow members. Clubs must ensure that all members must feel well informed to make the club successful. Members can now gather all pertinent information and communication needs across all their registered Club2Run clubs in one easy to use Web application.</p>
            </div>
            <div class="col-md-3">
                <h3>Guests</h3>
                <p>Guests or current registered members of a Club2Run can search our comprehensive database for potential clubs in their area that specialises in their field of interest. Useful club details and contact information are quickly found and Club2Run makes joining the chosen club an online breeze.</p>
            </div>
            <hr>
        </div>
    </div>
</template>