<template name="layout">
    <div class="wrapper">
        {{> header}}
        <div class="errors">
            {{> flashMessages}}
        </div>
        <aside class="main-sidebar">
            {{#if currentUser}}
                {{> navigationMenu}}
            {{/if}}
        </aside>
        <div class="content-wrapper">
            {{#if currentUser}}
                <section class="content-header">
                    <h1>{{currentClub.name}}<small>Home</small></h1>
                    {{> breadcrumbWidget}}
                </section>
            {{/if}}
            <section class="content">
                {{> yield }}
            </section>
        </div>
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 0.1
            </div>
            <strong>Copyright &copy; 2014-2015 <a href="http://club2run.com">Club 2 Run Ltd</a>.</strong> All rights reserved.
        </footer>
    </div>
</template>

<template name="navigationMenu">
    <section class="sidebar">
        <div class="user-panel">
            <div class="pull-left info">
                <p>{{currentUser.profile.fullName}}</p>
                <p>{{currentClub.name}}</p>
                {{#if online}}
                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                {{else}}
                    <a href="#"><i class="fa fa-circle text-danger"></i> Offline</a>
                {{/if}}
            </div>
        </div>
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="query" class="form-control" placeholder="Search..."/>
                    <span class="input-group-btn">
                        <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                    </span>
            </div>
        </form>
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li class="treeview">
                <a href="{{pathFor 'home'}}">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>
            </li>
            <li class="treeview">
                <a href="{{pathFor 'club'}}">
                    <i class="fa fa-globe"></i>
                    <span>Club</span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{pathFor 'clubEdit'}}"><i class="fa fa-edit"></i> Update</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-user"></i>
                    <span>Member</span>
                    <span class="label label-primary pull-right">{{currentClub.memberCount}}</span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{pathFor 'memberList'}}"><i class="fa fa-table"></i> View All</a></li>
                    <li><a href="{{pathFor 'memberCreate'}}"><i class="fa fa-edit"></i> Create</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-users"></i>
                    <span>Teams</span>
                    <span class="label label-primary pull-right">{{currentClub.teamCount}}</span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{pathFor 'teamList'}}"><i class="fa fa-table"></i> View All</a></li>
                    <li><a href="{{pathFor 'teamCreate'}}"><i class="fa fa-edit"></i> Create</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-calendar"></i>
                    <span>Matches</span>
                    <span class="label label-primary pull-right">{{currentClub.matchCount}}</span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{pathFor 'matchList'}}"><i class="fa fa-table"></i> View All</a></li>
                    <li><a href="{{pathFor 'matchCreate'}}"><i class="fa fa-edit"></i> Create</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-bullseye"></i>
                    <span>Officials</span>
                    <span class="label label-primary pull-right">{{currentClub.officialCount}}</span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{pathFor 'officialList'}}"><i class="fa fa-table"></i> View All</a></li>
                    <li><a href="{{pathFor 'officialCreate'}}"><i class="fa fa-edit"></i> Create</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-gears"></i>
                    <span>Staff</span>
                    <span class="label label-primary pull-right">{{currentClub.staffCount}}</span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{pathFor 'staffList'}}"><i class="fa fa-table"></i> View All</a></li>
                    <li><a href="{{pathFor 'staffCreate'}}"><i class="fa fa-edit"></i> Create</a></li>
                </ul>
            </li>
        </ul>
    </section>
</template>

<template name="breadcrumbWidget">
    <ol class="breadcrumb">
        {{#each Breadcrumb}}
            <li class="{{cssClasses}}"><a href="{{url}}">{{title}}</a></li>
        {{/each}}
    </ol>
</template>