<template name="eventList">
    {{> eventForm}}
    <div class="events">
        {{> tabular table=TabularTables.Event class="table table-striped table-bordered table-condensed"}}
    </div>
</template>

<template name="eventForm">
    {{> autoformModals collection="Events" id="eventForm"}}
</template>

<template name="eventTableUpdateButtonCell">
    {{#afModal class="btn btn-primary" collection="Events" operation="update" title="Update Event" buttonContent="Update" doc=_id omitFields="fullName,clubId,createdOn,createdBy,modifiedOn,modifiedBy"}}
        Update
    {{/afModal}}
</template>

<template name="eventTableDeleteButtonCell">
    {{#afModal class="btn btn-primary" collection="Events" operation="remove" title="Delete Event" buttonContent="Delete" doc=_id}}
        Delete
    {{/afModal}}
</template>