<template name="taskDropdown">
    <li class="dropdown tasks-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-flag-o"></i>
            {{#if taskCount}}
                <span class="label label-danger">{{taskCount}}</span>
            {{else}}
                <span class="label label-danger"></span>
            {{/if}}
        </a>
        <ul class="dropdown-menu">
            <li class="header">You have {{taskCount}} outstanding tasks</li>
            <li>
                <ul class="menu">
                    {{#each tasks}}
                        <li>
                            <a href="#" class="task-item">
                                <i class="fa fa-flag text-aqua"></i> {{text}}
                                <div class="pull-right">
                                    <small>{{formatDateFromNow createdOn}}</small>
                                </div>
                            </a>
                        </li>
                    {{/each}}
                </ul>
            </li>
            <li class="footer">
                <a href="{{pathFor 'home'}}">View all tasks</a>
            </li>
        </ul>
    </li>
</template>