<template name="userList">
    <div class="panel panel-primary">
        <div class="panel-heading">Users</div>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th class="col-sm-2">First Name</th>
                    <th class="col-sm-2">Last Name</th>
                    <th class="col-sm-3">Email</th>
                    <th class="col-sm-2">Home Telephone</th>
                    <th class="col-sm-2">Mobile Telephone</th>
                    <th class="col-sm-1"></th>
                </tr>
            </thead>
            <tbody>
                {{#each users}}
                    <tr>
                        <td>{{this.profile.firstName}}</td>
                        <td>{{this.profile.lastName}}</td>
                        <td><a href="{{pathFor 'userEmail' _id=_id}}">{{email}}</a></td>
                        <td>{{this.profile.homeTelephone}}</td>
                        <td>{{this.profile.mobileTelephone}}</td>
                        <td class="text-center">
                        {{#if isInRole 'admin' currentUser.profile.currentClubId}}
                            <a href="{{pathFor 'userEdit' _id=_id}}" class="hidden-xs btn btn-xs btn-primary">Edit</a>
                            <a href="#" class="hidden-xs btn btn-xs btn-danger delete">Remove</a>
                        {{/if}}
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</template>