<template name="userCreate">
    {{#autoForm id='createUser' schema=Schema.User}}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">User</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        {{> afQuickField name='profile.firstName'}}
                    </div>
                    <div class="col-xs-6">
                        {{> afQuickField name='profile.lastName'}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        {{> afQuickField name='profile.gender' options="auto"}}
                    </div>
                    <div class="col-xs-6">
                        {{> afQuickField name='profile.dateOfBirth'}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        {{> afQuickField name='profile.preferredContactMethod' options="auto"}}
                    </div>
                    <div class="col-xs-6">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        {{> afQuickField name='emails.0.address' label="Email"}}
                        {{> afFieldInput name='emails.0.verified' type="hidden" value="false"}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        {{> afQuickField name='profile.homeTelephone'}}
                    </div>
                    <div class="col-xs-6">
                        {{> afQuickField name='profile.mobileTelephone'}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        {{> afQuickField name='profile.emergencyContactName'}}
                    </div>
                    <div class="col-xs-6">
                        {{> afQuickField name='profile.emergencyContactTelephone'}}
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Location</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        {{> afQuickField name='profile.address.line1'}}
                    </div>
                    <div class="col-xs-6">
                        {{> afQuickField name='profile.address.line2'}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        {{> afQuickField name='profile.address.city'}}
                    </div>
                    <div class="col-xs-6">
                        {{> afQuickField name='profile.address.county'}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        {{> afQuickField name='profile.address.postCode'}}
                    </div>
                    <div class="col-xs-6">
                        {{> afQuickField name='profile.address.country'}}
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Other</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        {{> afQuickField name='profile.ethinicity' options="auto"}}
                    </div>
                    <div class="col-xs-6">
                        {{> afQuickField name='profile.disabilities'}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        {{> afQuickField name='profile.allergies'}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        {{> afQuickField name='profile.otherComments' rows=2}}
                    </div>
                </div>
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="reset" class="btn btn-default">Reset</button>
            <button type="button" class="btn btn-default cancel">Cancel</button>
        </div>
    {{/autoForm}}
</template>