<template name="userEmail">
    <form class="email-user">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Email to {{profile.fullName}}</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Subject</label>
                            <input type="text" name="subject" maxlength="100" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Message</label>
                            <textarea name="message" rows="10" maxlength="1000" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Send</button>
            <button type="button" class="btn btn-default cancel">Cancel</button>
        </div>
    </form>
</template>