<template name="meetingViewModal">
    <div id="eventMeetingModal" class="modal show fade in">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{meeting.subject}}</h4>
                </div>
                <div class="modal-body">
                    <p>
                        <strong>Starts : </strong> {{formatDateTime meeting.startDateTime}}<br>
                        <strong>Ends :</strong> {{formatDateTime meeting.endDateTime}}<br>
                        {{#if meeting.address}}
                            <strong>Location :</strong> {{meeting.address.line1}}, {{meeting.address.line2}}, {{meeting.address.city}}, {{meeting.address.county}}, {{meeting.address.postCode}}, {{meeting.address.country}}
                        {{else}}
                            <strong>Location :</strong><br>
                        {{/if}}
                    </p>
                    <hr>
                    <p>{{meeting.details}}</p>
                    <hr>
                    <h4>Attendees</h4>
                    <table class="table no-margin">
                        <tbody>
                        {{#each meeting.attendeeIds}}
                            <tr>
                                <td class="col-sm-1">
                                        <span class="label label-{{attendeeStatusClass}}">
                                            {{#if availability}}
                                                {{availability}}
                                            {{else}}
                                                Pending
                                            {{/if}}
                                        </span>
                                </td>
                                <td>{{attendee.profile.fullName}}</td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    {{#if currentUserInvite}}
                        <div class="btn-group">
                            <button type="button" class="btn btn-{{currentUserStatusClass}} dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                {{#if currentUserInvite.availability}}
                                    {{currentUserInvite.availability}}
                                {{else}}
                                    My Availability
                                {{/if}} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#" class="accept">Accept</a></li>
                                <li><a href="#" class="tenative">Maybe</a></li>
                                <li><a href="#" class="decline">Decline</a></li>
                            </ul>
                        </div>
                    {{/if}}
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</template>