body {
    color: #666666;
    background-color: black;
    margin-top: 0;
}

.navbar {
    margin-bottom: 10px;
    background-image: url('navbar-background.gif');
}

.navbar .navbar-inner {
    -webkit-border-radius: 0px 0px 3px 3px;
    -moz-border-radius: 0px 0px 3px 3px;
    -ms-border-radius: 0px 0px 3px 3px;
    -o-border-radius: 0px 0px 3px 3px;
    border-radius: 0px 0px 3px 3px; }

.navbar .navbar-brand {
    margin-top: -15px;
}

.jumbotron {
    text-align: center;
    background-image : url('C2RcropSmall.gif');
    height: 600px;
}

.jumbotron h1 {
    font-size: 80px;
    color: black;
}

.jumbotron h2 {
    font-size: 50px;
    font-weight: 100;
    color: red;
}

.jumbotron a {
    font-size: 70px;
    font-weight: 100;
    background-color: red;
}

.jumbotron p {
    color:green;
}


.col-md-3 h3 {
    color:white;
}
.col-md-3 

.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
    background-color: #ffffff;
}

#spinner {
    height: 300px;
}

.spinner-container {
    height: 100px;
    position: relative;
}

.member, .team, .event, .staff, .group, .offical {
    /* For modern browsers */
    /* For IE 6/7 (trigger hasLayout) */
    *zoom: 1;
    position: relative;
    opacity: 1;
}

.member:before, .member:after, .team:before, .team:after, .event:before, .event:after, .staff:before, .staff:after, .group:before, .group:after, .offical:before, .offical:after {
    content: "";
    display: table;
}

.member:after, .team:after, .event:after, .staff:after, .group:after, .offical:after {
    clear: both;
}

.member .member-content, .team .team-content, .event .event-content, .staff .staff-content, .group .group-content, .offical .offical-content {
    float: left;
}

.member .member-content h3, .team .team-content h3, .event .event-content h3, .staff .staff-content h3, .group .group-content h3, .offical .offical-content h3 {
    margin: 0;
    line-height: 1.4;
    font-size: 18px;
}

.member .member-content h3 a, .team .team-content h3 a, .event .event-content h3 a, .staff .staff-content h3 a, .group .group-content h3 a, .offical .offical-content h3 a {
    display: inline-block;
    margin-right: 5px;
}

.member .member-content h3 span, .team .team-content h3 span, .event .event-content h3 span, .staff .staff-content h3 span, .group .group-content h3 span, .offical .offical-content span {
    font-weight: normal;
    font-size: 14px;
    display: inline-block;
    color: #aaaaaa;
}

.member .member-content p, .team .team-content p, .event .event-content p, .staff .staff-content p, .group .group-content p, .offical .offical-content p {
    margin: 0;
}

.errors{
    position: fixed;
    z-index: 10000;
    padding: 10px;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    pointer-events: none;
}

.alert {
    animation: fadeOut 2700ms ease-in 0s 1 forwards;
    -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
    -moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
    width: 250px;
    float: right;
    clear: both;
    margin-bottom: 5px;
    pointer-events: auto;
}

.grid-block, .main, .member, .team, .event, .staff, .group, .offical {
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); }


.dropdown-menu span {
    display: block;
    padding: 3px 20px;
    clear: both;
    line-height: 20px;
    color: #bbb;
    white-space: nowrap;
}