<template name="trainingViewModal">
    <div id="eventTrainingModal" class="modal show fade in">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Training : {{team.name}}</h4>
                </div>
                <div class="modal-body">
                    <p>
                        <strong>Starts :</strong> {{formatDateTime training.startDateTime}}<br>
                        <strong>Ends :</strong> {{formatDateTime training.endDateTime}}<br>
                        {{#if training.address}}
                            <strong>Location :</strong> {{training.address.line1}}, {{training.address.line2}}, {{training.address.city}}, {{training.address.county}}, {{training.address.postCode}}, {{training.address.country}}
                        {{else}}
                            <strong>Location :</strong><br>
                        {{/if}}
                        <strong>Coaches :</strong> {{#each training.coachIds}}{{coach.fullName}}<br>{{/each}}
                    </p>
                    {{#if training.additionalInformation}}
                        <hr>
                        <p>{{training.additionalInformation}}</p>
                    {{/if}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</template>