<template name="clubJoin">
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                {{> esInput class="form-control" index="club" placeholder="Search club ..." }}
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">Clubs{{#ifEsIsSearching index="club"}} Loading...{{/ifEsIsSearching}}</div>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th class="col-sm-11">Club Name</th>
                <th class="col-sm-1"></th>
            </tr>
            </thead>
            <tbody>
                {{#esEach index="club"}}
                    <tr>
                        <td>{{name}}</td>
                        <td class="text-center"><a href="#" class="join_club">Join</a></td>
                    </tr>
                {{/esEach}}
            </tbody>
        </table>
    </div>
    {{> esLoadMoreButton index="club" class="btn btn-primary"}}
</template>