<template name="club">
    {{> autoformModals}}
    <div class="row">
        <section class="col-lg-6">
            {{> chatBox}}

            <div class="box box-solid bg-green-gradient">
                <div class="box-header">
                    <i class="fa fa-calendar"></i>
                    <h3 class="box-title">Calendar</h3>
                    <div class="pull-right box-tools">
                        <div class="btn-group">
                            <button class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i></button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li><a href="#">Add new event</a></li>
                                <li><a href="#">Clear events</a></li>
                                <li class="divider"></li>
                                <li><a href="#">View calendar</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="box-body no-padding">
                    <div id="calendar" style="width: 100%"></div>
                </div>
                <div class="box-footer text-black">
                </div>
            </div>
        </section>


        <section class="col-lg-6">
            {{> taskBox}}
            {{> notificationBox}}
        </section>
    </div>
</template>

<template name="chatBox">
    <div class="box box-success">
        <div class="box-header">
            <i class="fa fa-comments-o"></i>
            <h3 class="box-title">Chat ({{messageCount}})</h3>
        </div>
        <div class="box-body chat" id="chat-box">
            {{#each messages}}
                {{> chatMessage}}
            {{/each}}
        </div>
        <div class="box-footer">
            {{> chatForm}}
        </div>
    </div>
</template>

<template name="chatMessage">
    <div class="item">
        <img class="online" src="{{profileThumbSrc createdBy}}" alt="Image">
        <p class="message">
            <div class="name">
                <small class="text-muted pull-right">{{#if ownMessage}}<a href="#" class="delete-message"><i class="fa fa-trash-o"></i></a> | {{/if}}<i class="fa fa-clock-o"></i> {{formatDate createdOn}}</small>{{createdBy}}
            </div>
            {{message}}
        </p>
    </div>
</template>

<template name="chatForm">
    <form>
        <div class="input-group">
            <input class="form-control" name="message" placeholder="Type message..."/>
            <div class="input-group-btn">
                <button type="submit" class="btn btn-success add-message"><i class="fa fa-plus"></i></button>
            </div>
        </div>
    </form>
</template>

<template name="taskBox">
    <div class="box box-primary">
        <div class="box-header">
            <i class="fa fa-flag-o"></i>
            <h3 class="box-title">Task List ({{taskCountOutstanding}})</h3>
            <div class="pull-right hide-completed-tasks">Hide Completed Tasks <input type="checkbox" checked="{{hideCompletedTasks}}" /></div>
        </div>
        <div class="box-body">
            <ul class="todo-list">
                {{#each tasks}}
                    {{> task}}
                {{/each}}
            </ul>
        </div>
        <div class="box-footer">
            {{> taskForm}}
        </div>
    </div>
</template>

<template name="task">
    <li class="{{#if complete}}done{{/if}}">
        <input type="checkbox" class="task-item" {{checkedIf complete}}/>
        <span class="text done">{{text}}</span>
        <small> - {{formatDateFromNow createdOn}}</small>
        {{#if ownTask}}
            <div class="tools">
                <i class="fa fa-edit task-edit task-edit"></i>
                <i class="fa fa-trash-o task-delete"></i>
            </div>
        {{/if}}
    </li>
</template>

<template name="taskForm">
    <form>
        <div class="input-group">
            <input class="form-control" name="task" placeholder="Create task..."/>
            <div class="input-group-btn">
                <button type="submit" class="btn btn-primary add-task"><i class="fa fa-plus"></i></button>
            </div>
        </div>
    </form>
</template>

<template name="notificationBox">
    <div class="box box-warning">
        <div class="box-header">
            <i class="fa fa-bell-o"></i>
            <h3 class="box-title">Notification List ({{notificationCount}})</h3>
            <div class="pull-right hide-read-notifications">Hide Read Notifications <input type="checkbox" checked="{{hideReadNotifications}}" /></div>
        </div>
        <div class="box-body">
            <ul class="todo-list">
                {{#each notifications}}
                    {{> notification}}
                {{/each}}
            </ul>
        </div>
    </div>
</template>

<template name="notification">
    <li class="notification-item {{#if not read}}new{{/if}}">
        {{#if link}}
            <a href="{{pathFor link _id=linkId}}"><span class="text">{{description}}</span></a>
        {{else}}
            <span class="text">{{description}}</span>
        {{/if}}
        <small> - {{formatDateFromNow createdOn}}</small>
        <div class="tools">
            <i class="fa fa-trash-o notification-delete"></i>
        </div>
    </li>
</template>