<template name="profile">
    {{#autoForm id='updateProfile' schema=Schema.UserProfile type="method" meteormethod="updateProfile" doc=currentUser.profile}}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Profile</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        {{> afQuickField name='firstName'}}
                    </div>
                    <div class="col-xs-6">
                        {{> afQuickField name='lastName'}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        {{> afFieldInput name="picture" label="Avatar" remove-label="Remove"}}
                    </div>
                    <div class="col-xs-6">
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Contact</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        {{> afQuickField name='homeTelephone'}}
                    </div>
                    <div class="col-xs-6">
                        {{> afQuickField name='mobileTelephone'}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        {{> afQuickField name='address.line1'}}
                    </div>
                    <div class="col-xs-6">
                        {{> afQuickField name='address.line2'}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        {{> afQuickField name='address.line3'}}
                    </div>
                    <div class="col-xs-6">
                        {{> afQuickField name='address.line4'}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        {{> afQuickField name='address.city'}}
                    </div>
                    <div class="col-xs-6">
                        {{> afQuickField name='address.county'}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        {{> afQuickField name='address.postCode'}}
                    </div>
                    <div class="col-xs-6">
                        {{> afQuickField name='address.country'}}
                    </div>
                </div>
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Update</button>
            <button type="reset" class="btn btn-default">Reset</button>
            <button type="button" class="btn btn-default cancel">Cancel</button>
        </div>
    {{/autoForm}}
</template>