<template name="profile">
    {{#autoForm id='updateProfile' schema=Schema.UserProfile type="method" meteormethod="updateProfile" doc=currentUser.profile}}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Profile</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        {{> afQuickField name='firstName'}}
                    </div>
                    <div class="col-xs-6">
                        {{> afQuickField name='lastName'}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        {{> afQuickField name='gender' options="auto"}}
                    </div>
                    <div class="col-xs-6">
                        <div class="col-xs-6">
                            {{> afQuickField name='dateOfBirth'}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        {{> afQuickField name='homeTelephone'}}
                    </div>
                    <div class="col-xs-6">
                        {{> afQuickField name='mobileTelephone'}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        {{> afFieldInput name="picture" type="fileUpload" collection="ProfilePictures" label="Avatar" remove-label="Remove"}}
                    </div>
                    <div class="col-xs-6">
                    </div>
                </div>
            </div>
        </div>
        {{> address}}
        <div>
            <button type="submit" class="btn btn-primary">Update</button>
            <button type="reset" class="btn btn-default">Reset</button>
            <button type="button" class="btn btn-default cancel">Cancel</button>
        </div>
    {{/autoForm}}
</template>