<template name="matchView">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{team}} V {{match.opponent}}</h4>
    </div>
    <div class="modal-body">
        <p>
            <strong>Meetup : </strong> {{formatDateTime match.meetupDateTime}}<br>
            <strong>Starts : </strong> {{formatDateTime startDateTime}}<br>
            <strong>Ends :</strong> {{formatDateTime endDateTime}}<br>
            {{#if location}}
                <strong>Location :</strong> {{location.line1}}, {{location.line2}}, {{location.city}}, {{location.county}}, {{location.postCode}}, {{location.country}}
            {{/if}}
        </p>
        <hr>
        <p>
            <strong>Competition :</strong> {{match.competition}}<br>
            <strong>Opponent :</strong> {{match.opponent}}<br>
            <strong>Opponent Coaches :</strong> {{#each match.opponentCoaches}}{{this}}<br>{{/each}}
            <!--<strong>Officials :</strong>{{#each match.officials}}{{tmp.firstName}}<br>{{/each}}-->
        </p>
        <hr>
        <h4>Team Selection</h4>
        <table class="table no-margin">
            <tbody>
            {{#each match.players}}
                <tr>
                    <!--<td>-->
                        <!--<span class="label label-{{selectionStatusClass}}">-->
                            <!--{{#if status}}-->
                                <!--{{status}}-->
                            <!--{{else}}-->
                                <!--Pending-->
                            <!--{{/if}}-->
                        <!--</span>-->
                    <!--</td>-->
                    <td>{{player.fullName}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary team-selection">Team Selection</button>
        <button type="button" class="btn btn-primary event-edit">Edit</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
</template>