<template name="afArrayField_squadCustomField">
    <table class="table no-margin">
        <thead>
            <tr>
                <td class="col-sm-1">Squad No.</td>
                <td class="col-sm-7">Player</td>
                <td class="col-sm-3">Position</td>
                <td class="col-sm-1"></td>
            </tr>
        </thead>
        <tbody>
            {{#if afFieldIsInvalid name=this.atts.name}}
                <div class="panel-body has-error">
                    <span class="help-block">{{{afFieldMessage name=this.atts.name}}}</span>
                </div>
            {{/if}}
            {{#afEachArrayItem name=this.atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}
                {{#if afFieldIsInvalid name=this.atts.name}}
                    <tr>
                        <td colspan="4"><span class="help-block">{{{afFieldMessage name=this.atts.name}}}</span></td>
                    </tr>
                {{/if}}
                <tr>
                    {{> afObjectField name=this.name template="squadCustomObjectField" positionOptions=../atts.positionOptions}}
                    <td class="text-center"><button type="button" class="btn btn-primary autoform-remove-item"><i class="fa fa-minus"></i></button></td>
                </tr>
            {{/afEachArrayItem}}
        </tbody>
        {{#if afArrayFieldHasLessThanMaximum name=this.atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}
            <tfoot>
                <tr>
                    <td colspan="4"><button type="button" class="btn btn-primary autoform-add-item" data-autoform-field="{{this.atts.name}}" data-autoform-minCount="{{this.atts.minCount}}" data-autoform-maxCount="{{this.atts.maxCount}}"><i class="fa fa-plus"></i></button></td>
                </tr>
            </tfoot>
        {{/if}}
    </table>
</template>

<template name="afObjectField_squadCustomObjectField">
    <td>{{> afFieldInput name=squadNumberFieldName label=false}}</td>
    <td>{{> afFieldInput name=userIdFieldName type="selectize" options=userOptions label=false}}</td>
    <td>{{> afFieldInput name=positionFieldName type="selectize" options=this.atts.positionOptions label=false}}</td>
</template>