<template name="teamEdit">
    {{#autoForm id='editTeam' collection='Teams' doc=this type="update"}}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Details</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        {{> afQuickField name='name'}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        {{> afQuickField name='ageRange' options=ageOptions}}
                    </div>
                    <div class="col-xs-6">
                        {{> afQuickField name='gender' options=genderOptions}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        {{> afQuickField name='coaches' type="selectize" multiple=true}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        {{> afQuickField name='players' type="selectize" multiple=true}}
                    </div>
                </div>
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Update</button>
            <button type="reset" class="btn btn-default">Reset</button>
            <button type="button" class="btn btn-default cancel">Cancel</button>
        </div>
    {{/autoForm}}
</template>