<template name="teamEdit">
    {{#autoForm id='editTeam' schema=Schema.TeamSchema type="method" meteormethod="updateTeam" doc=this}}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Team</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        {{> afQuickField name='name'}}
                    </div>
                    <div class="col-xs-6">
                        {{> afQuickField name='code'}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        {{> afQuickField name='ageRange' options="auto"}}
                    </div>
                    <div class="col-xs-6">
                        {{> afQuickField name='gender' options="auto"}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        {{> afQuickField name='managerId' options=staffOptions}}
                    </div>
                    <div class="col-xs-6">
                        {{> afQuickField name='coachIds' type="selectize" options=staffOptions multiple=true}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        {{> afQuickField name='squadIds' type="selectize" options=memberOptions multiple=true}}
                    </div>
                </div>
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Update</button>
            <button type="reset" class="btn btn-default">Reset</button>
            <button type="button" class="btn btn-default cancel">Cancel</button>
            <button type="button" class="btn btn-danger pull-right delete">Delete</button>
        </div>
    {{/autoForm}}
</template>