<template name="memberList">
    {{> memberForm}}
    <div class="members">
        {{> tabular table=TabularTables.Member class="table table-striped table-bordered table-condensed"}}
    </div>
</template>

<template name="memberForm">
    {{> autoformModals collection="Members" id="memberForm"}}
</template>

<template name="memberTableUpdateButtonCell">
    {{#afModal class="btn btn-primary" collection="Members" operation="update" title="Update Member" buttonContent="Update" doc=_id omitFields="fullName,clubId,createdOn,createdBy,modifiedOn,modifiedBy"}}
        Update
    {{/afModal}}
</template>

<template name="memberTableDeleteButtonCell">
    {{#afModal class="btn btn-primary" collection="Members" operation="remove" title="Delete Member" buttonContent="Delete" doc=_id}}
        Delete
    {{/afModal}}
</template>