<template name="teamList">
    {{> teamForm}}
    <div class="teams">
        {{> tabular table=TabularTables.Team class="table table-striped table-bordered table-condensed"}}
    </div>
</template>

<template name="teamForm">
    {{> autoformModals collection="Teams" id="teamForm"}}
</template>

<template name="teamTableUpdateButtonCell">
    <div class="text-center">
        {{#afModal class="btn btn-primary" collection="Teams" operation="update" title="Update Team" buttonContent="Update" doc=_id omitFields="clubId,createdOn,createdBy,modifiedOn,modifiedBy"}}
            Update
        {{/afModal}}
    </div>
</template>

<template name="teamTableDeleteButtonCell">
    <div class="text-center">
        {{#afModal class="btn btn-primary" collection="Teams" operation="remove" title="Delete Team" buttonContent="Delete" doc=_id}}
            Delete
        {{/afModal}}
    </div>
</template>
