<template name="teamList">
    {{> teamForm}}
    <div class="row">
        {{#afModal class="btn btn-primary" collection="Teams" operation="insert" title="Add Team" buttonContent="Save"}}
            Add Team
        {{/afModal}}
    </div>
    <br>
    <div class="row">
        <div class="teams">
            {{> tabular table=TabularTables.Team class="table table-striped table-bordered table-condensed"}}
        </div>
    </div>
</template>

<template name="teamForm">
    {{> autoformModals collection="Teams" id="teamForm"}}
</template>

<template name="teamTableUpdateButtonCell">
    <div class="text-center">
        {{#afModal class="btn btn-primary" collection="Teams" operation="update" title="Update Team" buttonContent="Update" doc=_id}}
            Update
        {{/afModal}}
    </div>
</template>

<template name="teamTableDeleteButtonCell">
    <div class="text-center">
        {{#afModal class="btn btn-primary" collection="Teams" operation="remove" title="Delete Team" buttonContent="Delete" doc=_id}}
            Delete
        {{/afModal}}
    </div>
</template>
