<template name="eventEdit">
    {{#autoForm id='editEvent' schema=Schema.CalendarEvent type="method" meteormethod="updateCalendarEvent" doc=this}}
        {{> afFieldInput name='clubId' type="hidden"}}
        {{> afFieldInput name='type' type="hidden"}}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    {{#if afFieldValueIs name="type" value=""}}
                        Event
                    {{/if}}
                    {{#if afFieldValueIs name="type" value="meeting"}}
                        Meeting
                    {{/if}}
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        {{> afQuickField name='title'}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        {{> afQuickField name='startDateTime' type='datetime-local' value=defaultStartDate}}
                    </div>
                    <div class="col-xs-6">
                        {{> afQuickField name='endDateTime' type='datetime-local' value=defaultEndDate}}
                    </div>
                </div>
                {{#if afFieldValueIs name="type" value=""}}
                    <div class="row">
                        <div class="col-xs-12">
                            {{> afQuickField name='availability' options="auto"}}
                        </div>
                    </div>
                {{/if}}
                <div class="row">
                    <div class="col-xs-12">
                        {{> afQuickField name='details' rows=4}}
                    </div>
                </div>
                {{#if afFieldValueIs name="type" value="meeting"}}
                    <div class="row">
                        <div class="col-xs-12">
                            {{> afArrayField name="meeting.attendeeIds" template="meetingCustomField"}}
                        </div>
                    </div>
                {{/if}}
                {{#if afFieldValueIs name="type" value="fixture"}}
                    <div class="row">
                        <div class="col-xs-6">
                            {{> afQuickField name='fixture.teamId' options=teamOptions}}
                        </div>
                        <div class="col-xs-6">
                            {{> afQuickField name='fixture.matchType' options="auto"}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            {{> afQuickField name='fixture.opponent'}}
                        </div>
                        <div class="col-xs-6">
                            {{> afQuickField name='fixture.competition'}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            {{> afQuickField name='fixture.opponentEmail'}}
                        </div>
                        <div class="col-xs-6">
                            {{> afQuickField name='fixture.opponentTelephone'}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            {{> afQuickField name='fixture.meetupDateTime' type='datetime-local'}}
                        </div>
                        <div class="col-xs-6">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group {{#if afFieldIsInvalid name="fixture.opponentCoaches"}}has-error{{/if}}">
                                <label class='control-label'>{{afFieldLabelText name="fixture.opponentCoaches" }}</label>
                                {{> afFieldInput name="fixture.opponentCoaches" placeholder='Comma seperated list'}}
                                <span class="help-block">{{{afFieldMessage name="fixture.opponentCoaches"}}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            {{> afQuickField name='fixture.officialIds' type="selectize" options=officialOptions multiple=true}}
                        </div>
                    </div>
                {{/if}}
                {{#if afFieldValueIs name="type" value="training"}}
                    <div class="row">
                        <div class="col-xs-12">
                            {{> afQuickField name='training.teamId' options=teamOptions}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            {{> afQuickField name='training.coachIds' type="selectize" options=staffOptions multiple=true}}
                        </div>
                    </div>
                {{/if}}
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="reset" class="btn btn-default">Reset</button>
            <button type="button" class="btn btn-default cancel">Cancel</button>
        </div>
    {{/autoForm}}
</template>