<template name="eventEdit">
    {{#autoForm id='editEvent' schema=Schema.EventSchema type="method" meteormethod="updateEvent" doc=this}}
        {{> afFieldInput name="type" value=eventType type="hidden"}}
        {{#if afFieldValueIs name="type" value="Match"}}
            {{> match}}
        {{/if}}
        {{#if afFieldValueIs name="type" value="Meeting"}}
            {{> meeting}}
        {{/if}}
        {{#if afFieldValueIs name="type" value="Training"}}
            {{> training}}
        {{/if}}
        {{> address}}
        <div>
            <button type="submit" class="btn btn-primary">Update</button>
            <button type="reset" class="btn btn-default">Reset</button>
            <button type="button" class="btn btn-default cancel">Cancel</button>
            <button type="button" class="btn btn-danger pull-right delete">Delete</button>
        </div>
    {{/autoForm}}
</template>