<template name="eventEdit">
    {{#autoForm id='editEvent' schema=Schema.CalendarEvent type="method" meteormethod="updateCalendarEvent" doc=this}}
        {{> afFieldInput name='clubId' type="hidden"}}
        {{> afFieldInput name='type' type="hidden"}}
        {{#if afFieldValueIs name="type" value="club"}}
            {{> clubEventEdit}}
        {{/if}}
        {{#if afFieldValueIs name="type" value="fixture"}}
            {{> fixtureEdit}}
        {{/if}}
        {{#if afFieldValueIs name="type" value="meeting"}}
            {{> meetingEdit}}
        {{/if}}
        {{#if afFieldValueIs name="type" value="training"}}
            {{> trainingEdit}}
        {{/if}}
        {{#if afFieldValueIs name="type" value=""}}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Event
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            {{> afQuickField name='title'}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            {{> afQuickField name='startDateTime' type='datetime-local'}}
                        </div>
                        <div class="col-xs-6">
                            {{> afQuickField name='endDateTime' type='datetime-local'}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            {{> afQuickField name='details' rows=10}}
                        </div>
                    </div>
                </div>
            </div>
        {{/if}}
        <div>
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="reset" class="btn btn-default">Reset</button>
            <button type="button" class="btn btn-default cancel">Cancel</button>
        </div>
    {{/autoForm}}
</template>