<template name="eventList">
    {{#if showEventModal}}
        {{#if not showEventType}}
            {{> eventViewModal}}
        {{/if}}
        {{#if equals showEventType "club"}}
            {{> clubEventViewModal}}
        {{/if}}
        {{#if equals showEventType "fixture"}}
            {{> fixtureViewModal}}
        {{/if}}
        {{#if equals showEventType "meeting"}}
            {{> meetingViewModal}}
        {{/if}}
        {{#if equals showEventType "training"}}
            {{> trainingViewModal}}
        {{/if}}
    {{/if}}
    {{> fullcalendar
        header=headerOptions
        defaultView='agendaWeek'
        class="eventCalendar"
        events=events
        eventClick=eventClickHandler
        dayClick=dayClickHandler
        weekMode='liquid'}}
</template>