<template name="eventCreate">
    {{#autoForm id='createEvent' schema=Schema.Event type="method" meteormethod="insertEvent"}}
        {{#if eventType}}
            {{> afFieldInput name="type" value=eventType type="hidden"}}
        {{else}}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Event</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            {{> afQuickField name='type' type="selectize" options="auto"}}
                        </div>
                    </div>
                </div>
            </div>
        {{/if}}
        {{#if afFieldValueIs name="type" value="Match"}}
            {{> match}}
        {{/if}}
        {{#if afFieldValueIs name="type" value="Meeting"}}
            {{> meeting}}
        {{/if}}
        {{#if afFieldValueIs name="type" value="Training"}}
            {{> training}}
        {{/if}}
        {{> address}}
        <div>
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="reset" class="btn btn-default">Reset</button>
            <button type="button" class="btn btn-default cancel">Cancel</button>
        </div>
    {{/autoForm}}
</template>