<template name="staffList">
    {{> autoformModals collection="Staffs" id="staffForm"}}
    {{> tabular table=TabularTables.Staff class="table dataTable table-striped table-bordered table-condensed"}}
</template>

<template name="staffTableActionButtonCell">
    <a href="{{pathFor 'staffEdit' _id=_id}}" class="hidden-xs btn btn-xs btn-primary"><i class="fa fa-pencil"></i></a>
    {{#afModal class="btn btn-xs btn-danger btn-delete" collection="Staff" operation="remove" title="Delete Staff" doc=_id}}
        <i class="fa fa-times"></i>
    {{/afModal}}
</template>