<template name="staffItem">
    <div class="staff">
        <div class="staff-content">
            <h3>{{fullName}}<span>&nbsp;{{role}}</span></h3>
        </div>
        <div class="btn-toolbar pull-right" role="toolbar">
            <div class="btn-group">
                {{#afModal class="btn btn-primary" collection="Staff" operation="update" title="Update Staff" buttonContent="Update" doc=_id omitFields="fullName,clubId,createdOn,createdBy,modifiedOn,modifiedBy"}}
                    Update
                {{/afModal}}
                {{#afModal class="btn btn-primary" collection="Staff" operation="remove" title="Delete Staff" buttonContent="Delete" doc=_id}}
                    Delete
                {{/afModal}}
            </div>
        </div>
    </div>
</template>