<template name="staffList">
    {{> staffForm}}
    <div class="staffs">
        {{> tabular table=TabularTables.Staff class="table table-striped table-bordered table-condensed"}}
    </div>
</template>

<template name="staffForm">
    {{> autoformModals collection="Staff" id="staffForm"}}
</template>

<template name="staffTableUpdateButtonCell">
    <div class="text-center">
        {{#afModal class="btn btn-primary" collection="Staff" operation="update" title="Update Staff" buttonContent="Update" doc=_id omitFields="fullName,clubId,createdOn,createdBy,modifiedOn,modifiedBy"}}
            Update
        {{/afModal}}
    </div>
</template>

<template name="staffTableDeleteButtonCell">
    <div class="text-center">
        {{#afModal class="btn btn-primary" collection="Staff" operation="remove" title="Delete Staff" buttonContent="Delete" doc=_id}}
            Delete
        {{/afModal}}
    </div>
</template>