<template name="notificationDropdown">
    <li class="dropdown notifications-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-bell-o"></i>
            {{#if notificationCount}}
                <span class="label label-warning">{{notificationCount}}</span>
            {{else}}
                <span class="label label-warning"></span>
            {{/if}}
        </a>
        <ul class="dropdown-menu">
            <li class="header">You have {{notificationCount}} notifications</li>
            <li>
                <ul class="menu">
                    {{#each notifications limit=15 unreadFirst=true}}
                        <li>
                            <a href="#" class="notification-item">
                                {{#if link}}
                                    <a href="{{pathFor link _id=linkId}}"><i class="fa fa-bell-o text-aqua"></i> {{description}}</a>
                                {{else}}
                                    <i class="fa fa-bell-o text-aqua"></i> {{description}}
                                {{/if}}
                                <div class="pull-right">
                                    <small>{{formatDateFromNow createdOn}}</small>
                                </div>
                            </a>
                        </li>
                    {{/each}}
                </ul>
            </li>
            <li class="footer">
                <a href="{{pathFor 'home'}}">View all notifications</a>
            </li>
        </ul>
    </li>
</template>