<template name="notificationPanel">
    <div class="box box-info">
        <div class="box-header with-border">
            <i class="fa fa-bell-o"></i>
            <h3 class="box-title">Notifications ({{notificationCount}})</h3>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        {{#if notificationCount}}
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table no-margin">
                        <thead>
                            <tr>
                                <th>Description</th>
                                <th>Created</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each notifications}}
                                {{#if equals type "meeting"}}
                                    <tr>
                                        <td><a href="#" data-toggle="modal" data-target="#eventModal">Meeting - {{meeting.meeting.title}}</a></td>
                                        <td>{{formatDateFromNow createdOn}}</td>
                                        <td><i class="fa fa-trash-o notification-delete"></i></td>
                                    </tr>
                                    {{> eventViewModal meeting}}
                                {{/if}}
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        {{/if}}
    </div>
</template>

<template name="notificationDropdown">
    <li class="dropdown notifications-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-bell-o"></i>
            {{#if notificationCount}}
                <span class="label label-warning">{{notificationCount}}</span>
            {{else}}
                <span class="label label-warning"></span>
            {{/if}}
        </a>
        <ul class="dropdown-menu">
            <li class="header">You have {{notificationCount}} notifications</li>
            <li>
                <ul class="menu">
                    {{#each notifications limit=15 unreadFirst=true}}
                        <li>
                            <a href="#" class="notification-item">
                                {{#if link}}
                                    <a href="{{pathFor link _id=linkId}}"><i class="fa fa-bell-o text-aqua"></i> {{description}}</a>
                                {{else}}
                                    <i class="fa fa-bell-o text-aqua"></i> {{description}}
                                {{/if}}
                                <div class="pull-right">
                                    <small>{{formatDateFromNow createdOn}}</small>
                                </div>
                            </a>
                        </li>
                    {{/each}}
                </ul>
            </li>
            <li class="footer">
                <a href="{{pathFor 'club'}}">View all notifications</a>
            </li>
        </ul>
    </li>
</template>