<template name="notificationPanel">
    <div class="box box-warning">
        <div class="box-header">
            <i class="fa fa-bell-o"></i>
            <h3 class="box-title">Notification List ({{notificationCount}})</h3>
            <div class="pull-right hide-read">Hide Read Notifications <input type="checkbox" checked="{{hideRead}}" /></div>
        </div>
        <div class="box-body">
            <ul class="todo-list">
                {{#each notifications}}
                    <li class="notification-item {{notificationClass}}">
                        {{#if link}}
                            <a href="{{pathFor link _id=linkId}}"><span class="text">{{description}}</span></a>
                        {{else}}
                            <span class="text">{{description}}</span>
                        {{/if}}
                        <small> - {{formatDateFromNow createdOn}}</small>
                        <div class="tools">
                            <i class="fa fa-trash-o notification-delete"></i>
                        </div>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</template>

<template name="notificationDropdown">
    <li class="dropdown notifications-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-bell-o"></i>
            {{#if notificationCount}}
                <span class="label label-warning">{{notificationCount}}</span>
            {{else}}
                <span class="label label-warning"></span>
            {{/if}}
        </a>
        <ul class="dropdown-menu">
            <li class="header">You have {{notificationCount}} notifications</li>
            <li>
                <ul class="menu">
                    {{#each notifications limit=15 unreadFirst=true}}
                        <li class="{{notificationClass}}">
                            <a href="#" class="notification-item">
                                {{#if link}}
                                    <a href="{{pathFor link _id=linkId}}"><i class="fa fa-bell-o text-aqua"></i> {{description}}</a>
                                {{else}}
                                    <i class="fa fa-bell-o text-aqua"></i> {{description}}
                                {{/if}}
                                <div class="pull-right">
                                    <small>{{formatDateFromNow createdOn}}</small>
                                </div>
                            </a>
                        </li>
                    {{/each}}
                </ul>
            </li>
            <li class="footer">
                <a href="{{pathFor 'club'}}">View all notifications</a>
            </li>
        </ul>
    </li>
</template>