<template name="memberUpload">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Select upload file</h3>
        </div>
        <div class="panel-body">
            <div class="form-inline">
                <div class="form-group">
                    <input type="file" class="uploadFile">
                </div>
            </div>
        </div>
    </div>
    <div>
        <button type="button" class="btn btn-default cancel">Cancel</button>
    </div>
</template>