<template name="memberCreate">
    {{#autoForm id='createMember' schema=Schema.MemberSchema type="method" meteormethod="insertMember"}}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Details</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        {{> afQuickField name='firstName'}}
                    </div>
                    <div class="col-xs-6">
                        {{> afQuickField name='lastName'}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        {{> afQuickField name='dateOfBirth'}}
                    </div>
                    <div class="col-xs-6">
                        {{> afQuickField name='gender' options=genderOptions}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        {{> afQuickField name='emergencyContactName'}}
                    </div>
                    <div class="col-xs-6">
                        {{> afQuickField name='emergencyContactTelephone'}}
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Contact</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        {{> afQuickField name='email'}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        {{> afQuickField name='homeTelephone'}}
                    </div>
                    <div class="col-xs-6">
                        {{> afQuickField name='mobileTelephone'}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        {{> afQuickField name='address.line1'}}
                    </div>
                    <div class="col-xs-6">
                        {{> afQuickField name='address.line2'}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        {{> afQuickField name='address.line3'}}
                    </div>
                    <div class="col-xs-6">
                        {{> afQuickField name='address.line4'}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        {{> afQuickField name='address.city'}}
                    </div>
                    <div class="col-xs-6">
                        {{> afQuickField name='address.county'}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        {{> afQuickField name='address.postCode'}}
                    </div>
                    <div class="col-xs-6">
                        {{> afQuickField name='address.country'}}
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Other</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        {{> afQuickField name='ethinicity' options=ethinicityOptions}}
                    </div>
                    <div class="col-xs-6">
                        {{> afQuickField name='disabilities'}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        {{> afQuickField name='allergies'}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        {{> afQuickField name='otherComments' rows=2}}
                    </div>
                </div>
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="reset" class="btn btn-default">Reset</button>
            <button type="button" class="btn btn-default cancel">Cancel</button>
        </div>
    {{/autoForm}}
</template>