<template name="header">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navigation">
                <ul class="nav navbar-nav navbar-left">
                    <a class="navbar-brand" href="{{pathFor 'home'}}"> 
                    <img src="clubhouse_logo-navbar-2015-boxed-sm.png"></a>
                </ul>
                <ul class="nav navbar-nav">
                    {{#if currentUser}}
                        <li><a href="{{pathFor 'home'}}">Home</a></li>
                        <li><a href="{{pathFor 'memberList'}}">Members</a></li>
                        <li><a href="{{pathFor 'teamList'}}">Teams</a></li>
                        <li><a href="{{pathFor 'eventList'}}">Events</a></li>
                        <li><a href="{{pathFor 'staffList'}}">Staff</a></li>
                        <li><a href="{{pathFor 'officalList'}}">Officals</a></li>
                    {{/if}}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {{> loginButtons}}
                </ul>
            </div>
        </div>
    </nav>
</template>